.journey__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;

    > * {
        flex: 1;
    }
}

.journey__text-content {
    padding-top: 2rem;
}

.journey__img {
    border: var(--border-light);
    border-radius: 12px;
    background-image: url('../img/backgrouds/bg-about-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: flex-end;

    .journey__png {
        width: 100%;
        min-width: 300px;
    }
}

.values > .container {
    display: flex;
    gap: 80px;
    align-items: center;
}

.values__text-content {
    flex-basis: 40%;
}

.values__cards-wrapper {
    flex-basis: 60%;
}

.values__cards {
    border: var(--border-light);
    border-radius: 12px;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 30px;
    .values__card-img {
        vertical-align: middle;
        margin-inline-end: 14px;
    }
    .values__card-title {
        font-weight: 600;
        line-height: 150%;
        font-size: 24px;
        margin-bottom: 12px;
    }
}
.values__cards::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: var(--color-grey15);
    top: 50%;
    left: 5%;
}

.achievements__cards {
    display: flex;
    gap: 40px;
    margin-top: 80px;
    > * {
        flex: 1;
    }
}

.achievements__card {
    border-radius: 12px;
    padding: 40px;
    border: var(--border-light);
    .achievements__card-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 150%;
        margin-top: 0;
    }
}

.steps__cards {
    @extend .reg-section;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 30px;
}


.steps__card {

    .steps__card-head {
        padding: 16px 20px;
        margin-block: 0;
        border-left: 1px solid var(--color-purple60);
    }

    .steps__card-body {
        position: relative;
        background-clip: padding-box;
        background-color: var(--color-grey08);
        $border: 1px;
        padding: 50px;
        left: 1px;
        bottom: 1px;
        border-radius: 12px;
        border-top-left-radius: 0px;
        background-image: linear-gradient(121deg, var(--color-purple60) -49.01%, rgba(112, 59, 247, 0.00) 13.65%);
        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            inset: 0px;
            // left: 1px;
            margin: -$border;
            border-radius: inherit;
            background-image: linear-gradient(to bottom right, var(--color-purple60) 0% 5%, var(--color-grey15) 25% 100%);
        }
    }
    .steps__card-title {
        font-size: 26px;
        font-weight: 600;
        line-height: 150%;
        margin-top: 0;
    }
}

.team__cards {
    @extend .reg-section;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.team__card {
    border: var(--border-light);
    padding: 30px;
    border-radius: 12px;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-basis: 370px;
    justify-content: space-between;
    position: relative;
    .team__card-img {
        margin-bottom: 50px;
    }
    .team__card-name {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        line-height: 115%;
    }
    .team__card-pos {
        margin-top: 0px;
    }
    .team__card-hello {
        background-color: var(--color-grey10);
        border: var(--border-light);
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px;
        // padding-inline-end: 12px;
        padding-inline-start: 24px;
        p {
            margin: 0;
        }
        .team__card-hello-btn {
            display: inline-block;
            aspect-ratio: 1;
            width: 44px;
            border-radius: 50%;
            background-color: var(--color-purple60);
            background-blend-mode: normal;
            background-image: url('../img/icons/white-plane.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .team__card-twtr-btn {
        position: absolute;
        $width: 76px;
        width: $width;
        height: 52px;
        top: 50%;
        left: calc(50% - ($width / 2));
        background-color: var(--color-purple60);
        border-radius: 50px;
        background-blend-mode: normal;
        background-image: url('../img/icons/TWTR-icon.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
}