.journey__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 80px;

    > * {
        flex: 1;
    }
}

.journey__text-content {
    padding-top: 2rem;
}

.journey__img {
    border: var(--border-light);
    border-radius: 12px;
    background-image: url('../img/backgrouds/bg-about-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    align-items: flex-end;

    .journey__png {
        width: 100%;
        min-width: 300px;
    }
}

.values > .container {
    display: flex;
    gap: 80px;
    align-items: center;
}

.values__text-content {
    flex-basis: 40%;
}

.values__cards-wrapper {
    flex-basis: 60%;
    border: 10px solid #191919; 
    border-radius: 21px;
}

.values__cards {
    border: var(--border-light);
    border-radius: 12px;
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    gap: 30px;
    .values__card-img {
        vertical-align: middle;
        margin-inline-end: 14px;
    }
    .values__card-title {
        font-weight: 600;
        line-height: 150%;
        font-size: 24px;
        margin-bottom: 12px;
    }
}
.values__cards::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: var(--color-grey15);
    top: 50%;
    left: 5%;
}