.properties-hero {
    margin: 0;
    padding-block: 150px;
    border-bottom: var(--border-light);
    background: linear-gradient(96deg, #262626 -26.82%, rgba(38, 38, 38, 0.00) 40.46%);
}


.properties-search__form {
    position: relative;
    top: -65px;
    .wrapper-for-border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        width: max-content;
        margin: 0 auto;
        width: 75%;
    }
    .search-form__text-input-block {
        border-radius: 12px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: var(--border-light);
        width: max-content;
        padding: 20px 24px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // flex-wrap: wrap;
        gap: 15px;
        background-color: var(--color-grey08);

        .search-form__text-input {
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            flex-grow: 5;
        }
        .search-form__button {
            display: inline-block;
            color: white;
            font-size: inherit;
            line-height: 150%;
            flex-grow: 1;
            img {
                vertical-align: top;
                margin-inline-end: 8px;
            }
        }
    }

    .search-form__select-input-block {
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding: 10px;
        background-color: var(--color-grey10);
        border-radius: 12px;
        > * {
            @extend .input;
            flex: 1;
            padding-inline: 50px;
            appearance: none;
            background-repeat: no-repeat;
            background-position: 13px center, calc(100% - 24px) center;
            &#location {
                background-image: url('../img/icons/grey-location.svg'), url('../img/icons/Icon-grey-select-arrow.svg');
                background-repeat: no-repeat;
            }
            &#type {
                background-image: url('../img/icons/Icon-grey-select-house.svg'), url('../img/icons/Icon-grey-select-arrow.svg');
                background-repeat: no-repeat;
            }
            &#range {
                background-image: url('../img/icons/Icon-grey-select-money.svg'), url('../img/icons/Icon-grey-select-arrow.svg');
                background-repeat: no-repeat;
                position: relative;
            }
            &#size {
                background-image: url('../img/icons/Icon-grey-select-cube.svg'), url('../img/icons/Icon-grey-select-arrow.svg');
                background-repeat: no-repeat;
            }
            &#year {
                background-image: url('../img/icons/Icon-grey-select-call.svg'), url('../img/icons/Icon-grey-select-arrow.svg');
                background-repeat: no-repeat;
            }
        }

        .search-form__range-block {
            visibility: hidden;
            background-color: var(--color-grey08);
            padding: 20px;
            position: absolute;
            left: -1px;
            top: 10%;
            width: 100.5%;
            border: var(--border-light);
            border-top: none;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
            opacity: 0;
            transition: 0.3s;
            > input[type='range'] {
                width: 100%;
            }
            &.show {
                visibility: visible;
                opacity: 1;
                top: 90%;
            }
        }
    }
}


.contact-form__form {
    @extend .reg-section;
    padding: 30px;
    border-radius: 12px;
    border: var(--border-light);
}

.form__row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    &:last-child {
        margin-bottom: 0;
    }
}


.form__item {
    flex: 1;
    flex-basis: 260px;
    label[for] {
        display: block;
        margin-bottom: 14px;
    }
    .input {
        background-color: var(--color-grey10);
        width: 100%;
    }
    select {
        @extend .input;
        appearance: none;
        background-image: url(../img/icons/Icon-grey-select-arrow.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 24px) center;
    }
    textarea {
        @extend .input;
        resize: none;
        height: 170px;
        text-wrap: wrap;
    }
    .contact-form-1__budget-block {
        @extend .input;
        position: relative;
        background-image: url(../img/icons/Icon-grey-select-arrow.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 24px) center;
    }

    .contact-form-1__budget {
        background-color: var(--color-grey10);
        padding: 20px;
        width: calc(100% + 1px);
        position: absolute;
        left: -1px;
        top: 50%;
        visibility: hidden;
        border: var(--border-light);
        border-top: none;
        border-radius: 12px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        opacity: 0;
        transition: 0.3s;
        display: flex;
        gap: 1rem;
        align-items: baseline;
        flex-wrap: wrap;
        &.show {
            opacity: 1;
            visibility: visible;
            top: 85%;
        }
        label {
            display: inline;
        }
        input {
            @extend .input;
            width: auto;
            height: 50px;
            margin-inline-start: 20px;
        }
    }



    .contact-form-1__method {
        @extend .input;
        background-color: transparent;
        border: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        label {
            @extend .input;
            width: max-content;
            flex: 1;
            padding-inline-start: 50px;
            display: flex;
            align-items: center;
            background-image: url('../img/icons/Icon-white-phone.svg');
            background-position: 15px center;
            background-repeat: no-repeat;
            &[for='contact-form-1__method_email'] {
                background-image: url('../img/icons/Icon-white-email.svg');
            }
            .method-radio {
                display: inline-block;
                width: 1rem;
                aspect-ratio: 1;
                border: 1px solid var(--color-purple60);
                border-radius: 50%;
                margin-inline-start: auto;
                transition: background-color 0.3s;
                &.select { 
                    background-color: var(--color-purple60);
                }
            }
        }
        input[type='radio'] {
            display: none;
        }
    }
}

.form__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    
    input[type="checkbox"] {
        accent-color: var(--color-purple60);
    }
}