@media screen and (max-width: 1440px) {
    :root {
        --container-max-width: 1280px;
    }
    html {
        font-size: 16px;
    }
    .header__logo {
        width: 113px;
    }
    .push-message {
        p {
            font-size: 14px;
        }
        .push-message__closeBtn {
            width: 22px;
            background-size: 70%;
        }
    }

    .hero__content {
        gap: 133px;
    }
    .small-cards {
        gap: 16px;
    }
    .small-cards__card {
        > *:first-child {
            font-size: 30px;
        }
    }
    .ring-text {
        font-size: 11px;
        --total-width: 130px;
    }
    .ring-text__arrow {
        --arrow-width: 58px;
    }
}
@media screen and (max-width: 1024px) {
    :root {
        --container-padding-inline: 40px;
    }
    .hero {
        background-image: none !important;
        margin-top: 40px;
    }
    .hero__content {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .hero__text-content {
        padding-top: 0;
    }
    .hero__img {
        aspect-ratio: 1;
        background-image: url('../img/hero-img.png');
        background-position: center;
        background-size: cover;
        border: var(--border-light);
        border-radius: 12px;
    }
    .ring-text {
        top: clamp(20px, calc(50% - var(--total-width)), 500px);
        top: calc(90% - var(--total-width) / 2);
        left: 0;
    }
}
@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .header__logo {
        width: 93px;
    }
    .header__contact-us {
        display: none;
    }
    .header__mob-menu-btn {
        display: inline-block;
    }
    .small-cards__card {
        text-align: center;
    }

    a.testimonials__button,
    a.FAQ__button,
    a.properties__button {
        display: none;
    }

    .slider__card {
        --card-width: 100%;
    }

    .slider__card.show_1 {
        left: 0;
    }
    .slider__card.show_2 {
        left: calc(50% - var(--card-width) / 2);
    }
    .slider__card.show_3 {
        left: calc(100% - var(--card-width));
    }
}
@media screen and (max-width: 480px) {
    :root {
        --container-padding-inline: 16px;
    }
    .push-message {
        p {
            font-size: 12px;
        }
    }
    .ring-text {
        --total-width: 100px;
        font-size: 9px;
    }
    .ring-text__arrow {
        --arrow-width: 50px;
    }
    .hero__buttons {
        .button {
            text-align: center;
            margin: 10px 0;
            display: block;
        }
    }
    .clues__cards {
        .clues__card {
            padding: 20px 10px;
            flex-basis: 150px;
        }
        .clues__card-text {
            font-size: 14px;
        }
        .clues__card-arrow {
            width: 26px;
        }
        .clues__card-img {
            width: 48px;
        }
    }
}